@import '../../../../base.scss';

.Sociallink{
    margin:0;
    padding: 0;
    float:right;
    li{
        display: inline-block;
        padding-right: 30px;
        list-style: none;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        text-align: center;
        position: relative;
        margin-right: 10px;
        a{
            display: inline-block;
            border-radius: 30px;
            position: absolute;
            transform: translate(-50%, -50%);
            left:50%;
            top:50%;
            img{
                vertical-align: middle;
            }
        }
        
        &.fb{
            &:hover{
                background-color:$fb;
            }
        }
        &.twitter{
            &:hover{
                background-color:$twitter;
            }
        }
        &.pintrest{
            &:hover{
                background-color: $pintrest;
            }
        }
    }
}